<li class="item" id="answer_<%= answer.id %>">
  <div class="item-body">
    <span class="item-heading time">
      <b><%= time_ago_in_words(answer.created_at) %></b>
    </span>
    <div class="item-title">
      <h4 class="item-heading">
        <%= link_to truncate_text(answer.thread.name), admin_forum_thread_path(answer.thread) %>
      </h4>
    </div>
    <spam class="item-heading">
      <b>Usuário:</b> <%= link_to answer.user.name, admin_user_path(answer.user) %>
    </spam>
    <span class="item-heading username">
      <b><%= answer.user.username %></b>
    </span>
    <div class="item-text">
      <%= simple_format answer.body %>
    </div>
  </div>
  <div class="item-body-footer">
    <spam class="item-footer item-footer-id">
      <strong>ID: <%= answer.id %></strong>
    </spam>
    <spam class="item-footer item-footer-id">
      <strong>Status: <%= t answer.status, :scope => :status %></strong>
    </spam>
    <%= link_to "Visualizar", admin_comment_path(answer), :class => "item-footer-btn btn-view" %>
    <% unless answer.children.empty? %>
      <%= link_to "Ver Respostas", answers_admin_comment_path(answer, item_list_class(answer.id)),
                  :class => "item-footer-btn btn-view", :remote => true,
                  :onclick => "javascript:$(this).remove();" %>
    <% end %>
  </div>
  <div>
    <ul class="item-answer <%= item_list_class(answer.id) %>"></ul>
  </div>
</li>