<tr>
  <td><%= comment.id %></td>
  <td><%= comment.thread.name %></td>
  <td><%= comment.user.name %></td>
  <td><%= t comment.status, :scope => 'status' %></td>
  <td><%= comment.body %></td>
  <td><%= l comment.created_at, :format => :short %></td>
  <td>
    <%= render 'shared/table_action', :action => "show", :path => admin_comment_path(comment) %>
    <%= render 'shared/table_action', :action => "delete", :path => admin_comment_path(comment) %>
  </td>
</tr>