<li class="item" id="comment_<%= comment.id %>">
  <div class="item-body">
    <h4 class="item-heading">
      <%= link_to comment.thread.name, show_modal_admin_forum_thread_path(comment.thread, :call_from => 'comment_list'),
          :remote => true, data: { toggle: "modal", target: "#admin-modal" } %>
    </h4>
    <spam class="item-heading">
      Usuário: <%= link_to comment.user.name, show_modal_admin_user_path(comment.user, :call_from => 'comment_list'),
                   :remote => true, data: { toggle: "modal", target: "#admin-modal" } %>
    </spam>
    <span class="item-heading username">
      <b><%= comment.user.username %></b>
    </span>
    <span class="item-heading time">
      <b><%= time_ago_in_words(comment.created_at) %></b>
    </span>
    <div class="item-text">
      <%= simple_format comment.body %>
    </div>
  </div>
  <div class="item-body-footer">
    <spam class="item-footer item-footer-id">
      <strong>ID: <%= comment.id %></strong>
    </spam>
    <%= link_to "Visualizar", admin_comment_path(comment), :class => "item-footer-btn btn-view" %>
    <%= link_to "Pré-visualizar", show_modal_admin_comment_path(comment, :call_from => 'comment_list'), :remote => true, 
         :class => "item-footer-btn btn-preview", data: { toggle: "modal", target: "#admin-modal" } %>
    <% unless comment.parent.nil? %>
      <%= link_to "Resposta a", show_modal_admin_comment_path(comment.parent, :call_from => 'comment_list'), 
           :remote => true, :class => "item-footer-btn btn-parent",
           data: { toggle: "modal", target: "#admin-modal" } %>
    <% end %>
    <% unless comment.children.empty? %>
      <%= link_to "Respostas", answers_admin_comment_path(comment), :remote => true, :class => "item-footer-btn btn-answers",
           data: { toggle: "modal", target: "#admin-modal" } %>
    <% end %>
    <% unless comment.complaints.empty? %>
      <%= link_to "Reclamações", admin_comment_path(comment), :remote => true, :class => "item-footer-btn btn-complaints",
           data: { toggle: "modal", target: "#admin-modal" } %>
    <% end %>
    <spam class="item-footer-right">
      <% generate_status_change_actions(comment, :comment, :comment_list).each do |action| %>
        <strong><%= link_to action[:label], action[:path], :remote => true, :"data-confirm" => action[:confirmation_msg],
                    :"data-method" => action[:method], :class => "item-footer-btn btn-#{action[:type]}" %></strong>
      <% end %>
    </spam>
  </div>
</li>