<% opened_from_modal ||= false %>

<%= render 'shared/status_message' %>

<div class="form-horizontal">
  <%= render 'shared/field_show', :label => "Id", :value => @comment.id %>
  <%= render 'shared/field_show', :label => "Status", :value => t(@comment.status, :scope => :status_label) %>
  <%= render 'shared/field_show', :label => "Thread", 
                                  :link => link_to("#{@comment.thread.name} (Id: #{@comment.thread.id})",
                                                   show_modal_admin_forum_thread_path(@comment.thread),
                                                    :remote => true, data: modal_data_map(opened_from_modal)) %>
  <%= render 'shared/field_show', :label => "Usuário",
                                  :link => link_to("#{@comment.user.name} (Id: #{@comment.user.id})", 
                                                   admin_user_path(@comment.user)) %>
  <% unless @comment.parent.nil? %>
    <%= render 'shared/field_show', :label => "Resposta a",
                                    :link => link_to("#{@comment.parent.body.first(40)} (Id: #{@comment.parent.id})",
                                                     show_modal_admin_comment_path(@comment.parent),
                                                     :remote => true, data: modal_data_map(opened_from_modal)) %>
  <% end %>
  <%= render 'shared/field_show', :label => "Texto", :value => simple_format(@comment.body) %>
  <%= render 'shared/field_show', :label => "Criado em", :value => l(@comment.created_at) %>
  <%= render 'shared/field_show', :label => "Atualizado em", :value => l(@comment.updated_at) %>
</div>