<% opened_from_modal ||= false %>
<% data_map = { toggle: "modal", target: "#admin-modal" } %>
<% data_map = {} if opened_from_modal %>

<%= render 'shared/status_message' %>

<div class="form-horizontal">
  <%= render 'shared/field_show', :label => "Id", :value => @forum_thread.id %>
  <%= render 'shared/field_show', :label => "Nome", :value => @forum_thread.name %>
  <%= render 'shared/field_show', :label => "Status", :value => t(@forum_thread.status, :scope => :status_label) %>
  <%= render 'shared/field_show', :label => "Descrição", :value => @forum_thread.description %>
  <%= render 'shared/field_show', :label => "Forum", 
                                  :link => link_to("#{@forum_thread.forum.name} (Id: #{@forum_thread.forum.id})", 
                                                   admin_forum_path(@forum_thread.forum)) %>
  <%= render 'shared/field_show', :label => "Criado em", :value => l(@forum_thread.created_at) %>
  <%= render 'shared/field_show', :label => "Atualizado em", :value => l(@forum_thread.updated_at) %>
</div>
