<%
	icon_type = case action
		when "show" then "icon-eye-open"
		when "edit" then "icon-pencil"
		when "delete" then "icon-trash"
	end
%>
<span style="padding-left: 5px">
	<% if action != "delete" %>
		<a href="<%=path%>"><i class="<%=icon_type%>"></i></a>
	<% else %>
		<% confirmation_msg ||= "Are you sure to proceed?" %>
	   	<a href="<%=path%>" data-confirm="<%=confirmation_msg%>" data-method="delete" rel="nofollow">
			<i class="<%=icon_type%>"></i>
		</a>
	<% end %>
</span>