<%= render 'shared/admin_title_options', :title => "Visualização de Forum",
           :options => [ {:label => "Nova Thread", :path => new_admin_forum_thread_path(:forum_id => @forum.id), 
	                      :type => "info"},
                         {:label => "Alterar", :path => edit_admin_forum_path(@forum), :type => "info"}] +
                       generate_status_change_actions(@forum, :forum) +
                       [ {:label => "Voltar", :path => admin_forums_path, :type => "info"} ] %>

<%= render 'shared/status_message' %>

<div class="form-horizontal">
  <%= render 'shared/field_show', :label => "Id", :value => @forum.id %>
  <%= render 'shared/field_show', :label => "Nome", :value => @forum.name %>
  <%= render 'shared/field_show', :label => "Descrição", :value => @forum.description %>
  <%= render 'shared/field_show', :label => "Criado em", :value => l(@forum.created_at) %>
  <%= render 'shared/field_show', :label => "Atualizado em", :value => l(@forum.updated_at) %>
</div>

<% unless @forum.threads.empty? %>
<div>
  <h3>Threads associadas:</h3>
  <ul class="unstyled" style="margin-left: 30px;">
    <% limit = 5 %>
    <% @forum.threads.first(limit).each do |thread| %>
      <li style="margin-bottom: 10px;">
        <%= link_to "#{thread.name} (ID: #{thread.id})", admin_forum_thread_path(thread) %>
      </li>
    <% end %>
    <% if @forum.threads.length > limit %>
      <%= link_to "Ver todos", admin_forum_threads_path(:forum_id => @forum.id) %>
    <% end %>
  </ul>
</div>
<% end %>