<tr>
  <td><%= user.id %></td>
  <td><%= user.name %></td>
  <td><%= t user.status, :scope => 'status' %></td>
  <td><%= user.username %></td>
  <td><%= user.email %></td>
  <td><%= l user.created_at, :format => :short %></td>
  <td>
    <%= render 'shared/table_action', :action => "show", :path => admin_user_path(user) %>
    <%= render 'shared/table_action', :action => "edit", :path => edit_admin_user_path(user) %>
    <%= render 'shared/table_action', :action => "delete", :path => admin_user_path(user, :page => params[:page]) %>
  </td>
</tr>
