<li class="item" id="complaint_<%= complaint.id %>">
  <div class="item-body">
    <span class="item-heading time">
      <b><%= time_ago_in_words(complaint.created_at) %></b>
    </span>
    <div class="item-title">
      <h4 class="item-heading">
        <%= link_to complaint.comment.thread.name, show_modal_admin_forum_thread_path(complaint.comment.thread, 
                                                                                      :call_from => 'complaint_list'),
            :remote => true, data: { toggle: "modal", target: "#admin-modal" } %>
      </h4>
    </div>
    <spam class="item-heading">
      Usuário: <%= link_to complaint.user.name, show_modal_admin_user_path(complaint.user, :call_from => 'complaint_list'),
                   :remote => true, data: { toggle: "modal", target: "#admin-modal" } %>
    </spam>
    <span class="item-heading username">
      <b><%= complaint.user.username %></b>
    </span>
    <div class="item-text">
      <%= simple_format complaint.body %>
    </div>
  </div>
  <div class="item-body-footer">
    <spam class="item-footer item-footer-id">
      <strong>ID: <%= complaint.id %></strong>
    </spam>
    <%= link_to "Visualizar", admin_complaint_path(complaint), :class => "item-footer-btn btn-view" %>
    <%= link_to "Pré-visualizar", show_modal_admin_complaint_path(complaint, :call_from => 'complaint_list'), :remote => true, 
         :class => "item-footer-btn btn-preview", data: { toggle: "modal", target: "#admin-modal" } %>
    <%= link_to "Comentário", show_modal_admin_comment_path(complaint.comment, :call_from => 'complaint_list'),
         :remote => true, :class => "item-footer-btn btn-parent",
         data: { toggle: "modal", target: "#admin-modal" } %>
    <spam class="item-footer-right">
      <% generate_status_change_actions(complaint, :complaint, :complaint_list).each do |action| %>
        <strong><%= link_to action[:label], action[:path], :remote => true, :"data-confirm" => action[:confirmation_msg],
                    :"data-method" => action[:method], :class => "item-footer-btn btn-#{action[:type]}" %></strong>
      <% end %>
    </spam>
  </div>
</li>
