<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Info Debate", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right nav-header-options">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Dashboard", '#' %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Foruns <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Foruns", admin_forums_path %></li>
              <li><%= link_to "Threads", admin_forum_threads_path %></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Moderação <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Comentários", admin_comments_path %></li>
              <li><%= link_to "Reclamações", admin_complaints_path %></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Usuários <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Usuários", admin_users_path %></li>
            </ul>
          </li>
          <li><%= link_to "Sobre", about_path %></li>
          <li><%= link_to "Sign in", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</div>